
.header {
  background-color: #1B4691;
  height: 150px;
  padding: 20px;
  color: white;
  margin-bottom: 30px;

  .logo {
    display: flex;
    animation: App-logo-appearance 1.6s ease-in;
    height: 80px;
    background: white;
    padding: 15px 0;
    border-radius: 3px;
    margin: 0 auto;
  }

  nav{
    display: flex;

    ul {
      width: auto;
      display: flex;
      margin: 0 auto;

      > li {
        margin: 20px 0;
      }

      li, a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}
